@page "/"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h1>Inscripciones</h1>

<div>
    @if (alumnos == null)
    {
        <p><em>Cargando...</em></p>
    }
    else
    {
        <select class="form-select" aria-label="Default select example" @bind="@dpiAlumno">
            <option selected>Seleccione al alumno</option>
            @foreach (var alumno in alumnos)
            {
                <option value="@alumno.Dpi">@alumno.Nombre</option>
            }
        </select>
    }
</div>
<div>
    @if (talleres == null)
    {
        <p><em>Cargando...</em></p>
    }
    else
    {
        <select class="form-select form-select-lg mb-3" aria-label="Large select example" @bind="@codigoTaller">
            <option selected>Seleccion Taller</option>
            @foreach (var taller in talleres)
            {
                <option value="@taller.Codigo">@taller.Nombre</option>
            }
        </select>

    }
</div>
<div>
    <button class="btn btn-primary" @onclick="GuardarInscripcion">Inscribir Alumno</button>
</div>

@code{

    List<Alumno> alumnos;
    List<Taller> talleres;
    List<Inscripcion> inscripciones = new List<Inscripcion>();

    string codigoTaller;
    string dpiAlumno;


    protected override async Task OnInitializedAsync()
    {
        alumnos = await Http.GetFromJsonAsync<List<Alumno>>("sample-data/alumnos.json");

        talleres = await Http.GetFromJsonAsync<List<Taller>>("sample-data/talleres.json");
    }

    protected async Task GuardarInscripcion()
    {
        Inscripcion inscripcion = new Inscripcion();

        inscripcion.Codigo = codigoTaller;
        inscripcion.Dpi = dpiAlumno;
        inscripcion.Fecha = DateTime.Now;

        inscripciones.Add(inscripcion);

        await localStorage.SetItemAsync("inscripciones", "inscripciones");


    }
}
